.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
}

.login {
  width: 350px;
  padding: 40px;
  background-color: #202020;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #555;
  color: white;
  font-size: 16px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-image: linear-gradient(to right, #ff8a00, #e52e71);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

p {
  color: white;
  margin-top: 10px;
}
.errors{
  color: #e52e71;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.login a {
  color: white;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}
